*{ margin:0 auto;  padding:0; }

#box{
	width:100%;
	height:100vh;
}

#section{
	float:left;
	width:75%;
	height:100vh;
	background:white;
}

#section h3{
	margin-top:25vh;
	margin-right:6vw;
	font-size:2vw;
	text-align:center;
}

#section .table{
	width:50vw;
	margin-top:3vh;
	margin-right:15vw;
	border-collapse: collapse;
}

#section .table .tr1{
	border:solid 0.5px;
	border-collapse: collapse;
	border-color:#8C8CFF;
	text-align:center;
}

#section .table .tr1 th{
	height:4vh;
	border:solid 0.5px;
	border-collapse: collapse;
	border-color:#8C8CFF;
	text-align:center;
	background:lavender;
}

#section .table .tr1 td{
	height:4vh;
	border:solid 0.5px;
	border-collapse: collapse;
	border-color:#8C8CFF;
	text-align:center;
}
	
