*{ margin:0 auto;  padding:0; }

#box{
	width:100%;
	height:250vh;
}

#section{
	float:left;
	width:75%;
	height:250vh;
	background:white;
}

#section h3{
	margin-top:25vh;
	margin-right:15vw;
	font-size:2vw;
	text-align:center;
}

#section .table{
	width:45vw;
	margin-right:20vw;
	margin-top:3vh;
	border:solid 0.5px;
	border-color: #8C8CFF;
	border-collapse: collapse;
}

#section .table .td1{
	width:20vw;
	height:60vh;
	vertical-align:top;
	padding-top:5vh;
	border-collapse: collapse;
	text-align:center;
	line-height:6vh;
	font-size:1.2vw;
	color:#8C8CFF;
}

#section .table .td1 #pic{
	width:15vw;
	height:50vh;
	border-collapse: collapse;
	border:solid 0.5px;
}


.table .tr1{
	font-size:1.2vw;
}

	
.select{
	width:80%;
	height:3vh;
	margin-bottom:0.5vh;
	margin-left:1vw;
	font-size:1.1vw;
}

.table .tr2{
	height:10vh;
	text-align:center;
	font-size:1.2vw;
	border:solid 0.5px;
	border-color: #8C8CFF;
	border-collapse: collapse;
}

input[type=submit]{
	width:5vw;
	height:5vh;
	margin-top:2vh;
	font-size:1.2vw;
	border:solid 0.5px;
	border-color: #8C8CFF;
	background:lavender;
}

input[type=button]{
	width:5vw;
	height:5vh;
	margin-top:2vh;
	margin-left:28.9vw;
	font-size:1.2vw;
	border:solid 0.5px;
	border-color: #8C8CFF;
	background:lavender;
}

.table2{
	width:45vw;
	margin-top:3vh;
	margin-right:20vw;
	border-collapse: collapse;
}

.table2 .tr3{
	border:solid 0.5px;
	border-collapse: collapse;
	border-color:#8C8CFF;
	text-align:center;
}

.table2 .tr3 th{
	height:4vh;
	border:solid 0.5px;
	border-collapse: collapse;
	border-color:#8C8CFF;
	text-align:center;
	background:lavender;
}

.table2 .tr3 td{
	height:4vh;
	border:solid 0.5px;
	border-collapse: collapse;
	border-color:#8C8CFF;
	text-align:center;
}

