*{ margin:0 auto;  padding:0; }

#box{
	width:100%;
	height:150vh;
}

#box #searchForm{
	width:70vw;
	height:20vh;
	background:lavender;
	margin-top:5vh;
	border-radius:10px;
}

#box #searchForm .select{
	width:8vw;
	height:4vh;
	font-size:1.2vw;
	text-align:center;
	margin-top:2vh;
	margin-left:8vw;
}

input[type=text]{
	width:35vw;
	height:3vh;
	font-size:1.2vw;
	padding-left:1vw;
}

input[type=submit]{
	width:7vw;
	height:6vh;
	margin-bottom:10vh;
	font-size:1.2vw;
	background:#8C8CFF;
	border:solid 0.5px;
	color:white;
}

#section{
	float:left;
	width:75%;
	height:150vh;
	background:white;
}

#section h3{
	margin-top:25vh;
	margin-right:5vw;
	font-size:2vw;
	text-align:center;
}

#section .table{
	width:70vw;
	margin-top:3vh;
	border-collapse: collapse;
}

#section .table .tr1{
	border:solid 0.5px;
	border-collapse: collapse;
	border-color:#8C8CFF;
	text-align:center;
}

#section .table .tr1 th{
	height:4vh;
	border:solid 0.5px;
	border-collapse: collapse;
	border-color:#8C8CFF;
	text-align:center;
	background:lavender;
}

#section .table .tr1 td{
	height:4vh;
	border:solid 0.5px;
	border-collapse: collapse;
	border-color:#8C8CFF;
	text-align:center;
}

#section .table .tr2{
	height:6vh;
	vertical-align:center;
}
